{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "semi": "error",
      "quotes": ["error", "single"],
      "prefer-template": "error",
      "template-curly-spacing": ["error", "never"],
      "object-property-newline": "error",
      "object-curly-spacing": ["error", "always"],
      "no-console": "error"
    }
  }
