name: branch
run-name: Build Branch
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [20, 21, 22, 23, 24]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Node ${{ matrix.version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.version }}

      - name: Install Dependencies
        run: npm ci

      - name: Pull Keycloak Image
        run: docker pull quay.io/keycloak/keycloak:latest

      - name: Test Package
        run: npm run test

      - name: Build Package
        run: npm run build
