name: 'Build'
run-name: 'Build Package'
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [20, 21, 22, 23, 24]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node ${{ matrix.version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}

      - name: Install Dependencies
        run: npm ci

      - name: Pull Keycloak Image
        run: docker pull quay.io/keycloak/keycloak:latest

      - name: Test Package
        run: npm run test

      - name: Build Package
        run: npm run build
